.DS_Store

# backend
backend/.env
backend/.venv/
backend/__pycache__/
backend/firebase-credentials.json

# frontend
frontend/node_modules/
frontend/.next/
frontend/.vercel/
frontend/.env*
frontend/out/
frontend/build/

# misc
*.log
